body {
    background-color: rgba(116, 236, 232, 0.626);
}

.frase {
    text-align: center;
    color: aliceblue;
    font-size: 100px;
    margin: 0
    ;
}

.letra:hover {
    color: yellowgreen;
}

h3 {
    text-align: center;
    color: blueviolet;
}

.imagen {
  text-align: center;
}
